html, body {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-variant: small-caps;
    word-spacing: -0.3em;
    background-color: #33658a;
    padding: 0em;
    margin: 0em;
}
header, footer {
    background-color: #2f4858;
    margin: 0em;
    padding: 0.2em 0.5em;
    width: 100%;
}
header {
    color: #55dde0;
    display: flex;
    height: 1.5em;
    position: fixed;
    top: 0em;
    flex-flow: wrap;
}
header .firstMenuItem {
    margin-left: auto;
}
header .menuItem {
    margin-left: 1em;
}
header img {
    height: 100%;
}
header a:hover {
    color: white;
}
footer {
    color: black;
    text-align: center;
    margin-top: 4em;
}
footer a {
    text-decoration: underline;
}
h1 {
    margin: 0em;
    padding: 0em;
    font-size: 1em;
    font-weight: bold;
}
h2 {
    color: white;
    text-align: center;
    padding: 0.1em 0.2em;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0em;
    margin-bottom: -0.1em;
}
a {
    color: inherit;
    text-decoration: none;
}
main {
    padding: 0em 1em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
main h1 {
    font-size: 2em;
}
main > h1 {
    margin-top: 1.5em;
}
main > h2 {
    text-align: left;
    padding: 0em;
    margin-top: 1em;
}
main > p {
    font-variant: normal;
}
